<script id="tpl-contacts-table" type="text/html">
    <table id="basic-data-table" class="table nowrap">
        <thead>
            <tr>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Fonction</th>
                <th>Mail</th>
                <th>Tdb</th>
                <th>Facture</th>
                <th>Log.</th>
                <th>Maj</th>
            </tr>
        </thead>
        <!-- {{ #. }} -->
        <tbody>
            <tr>        
                <td>CivilityId</td>
                <td>FirstName LastName</td>
                <td>Function</td>
                <td>MailAddress</td>
                <td>ContactDashboard<i class="mdi mdi-checkbox-marked-outline"></i></td>
                <td>ContactBilling</td>
                <td>ContactLogistics</td>
                <td>ContactFormUpdates</td>
                <!-- {{#ContactBilling}}
                <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
                {{/ContactBilling}}
                {{^ContactBilling}}
                <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
                {{/ContactBilling}}
                {{#ContactLogistics}}
                <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
                {{/ContactLogistics}}
                {{^ContactLogistics}}
                <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
                {{/ContactLogistics}}
                {{#ContactFormUpdates}}
                <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
                {{/ContactFormUpdates}}
                {{^ContactFormUpdates}}
                <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
                {{/ContactFormUpdates}} -->
            </tr>
        </tbody>
        <!-- {{ /. }} -->
    </table>

</script>