<script id="tpl-contacts-table" type="text/html">
    <table id="basic-contacts-table" class="table nowrap">
        <thead>
            <tr>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Fonction</th>
                <th>Mail</th>
                <th>Tdb</th>
            </tr>
        </thead>
        {{ #. }}
        <tbody id="myTable">
            <tr>        
                <td>{{CivilityId}}</td>
                <td>{{FirstName}}</td><td>{{LastName}}</td>
                <td>{{Function}}</td>
                <td>{{MailAddress}}</td>
                
            </tr>
        </tbody>
        {{ /. }}
    </table>

</script>