<script id="tpl-folders-table" type="text/html">
    <table id="basic-folders-table" class="table nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fichiers</th>
                <th></th>
            </tr>
        </thead>
        
        <tbody id="folders">
        {{ #. }}
            <tr>        
                <td><img src="https://recette-api.song-fr.com/app-file/{{MimeType}}/icon" class="icons"></td>
                <td>{{DisplayName}}</td>
                <td>
                    <a href='{{link}}{{Id}}' download>
                        <button class="btn mb-1 btn btn-pill btn-primary" type="submit">Télécharger</button>
                        
                    </a>
                </td>
            </tr>
        {{ /. }}
        </tbody>
    </table>
</script>