<script id="tpl-flux-pri" type="text/html">
  {{#.}}
  <h3 style="padding: 10px;">
    Flux : {{Id}}
  </h3> 
  
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <div class="form-group">
        <label>Modèle de fichier de livraison</label>
        <input type="text" class="form-control" value="{{DeliveryFileTemplate}}" disabled>
        <span class="mt-2 d-block">Modèle du nom du fichier de livraison.</span>
        <br>
        
        <label>Nom du fichier PDF livré à l'association</label>
        <input type="text" class="form-control" value="{{PdfFileNameTemplate}}" disabled>
        <span class="mt-2 d-block">Modèle de nom du fichier PDF remis à l'association.</span>
        <br>

        <label>Type de fichier de livraison</label>
        <input type="text" class="form-control" value="{{DeliveryFileType}}" disabled>
        <span class="mt-2 d-block">Type de fichier 
          TXT, TXT_WITHOUT_BOM, XLS, CSV, CSV_WITHOUT_LAST_EMPTY_LINE, CSV_WITH_TAB, CSV_WITHOUT_BOM, CSV_WITH_TAB_WITHOUT_BOM_LF_ONLY...</span>
          <br>

        <label>Encodage du fichier de livraison</label>
        <input type="text" class="form-control" value="{{DeliveryFileEncoding}}" disabled>
        <span class="mt-2 d-block">Encodage du fichier </span>
        <br>

        <label>Répertoire de stockage des PDF</label>
        <input type="text" class="form-control" value="{{FolderForms}}" disabled>
        <span class="mt-2 d-block">Répertoire de dépôt des PDF sur le serveur SFTP. </span>
        <br>

        <label>Répertoire de stockage du fichier de livraison</label>
        <input type="text" class="form-control" value="{{FolderDeliveryFile}}" disabled>
        <span class="mt-2 d-block">Répertoire de dépôt des fichiers de livraisons. </span>
        <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-body">
        <label title="Envoyer les bulletins sans e-mail dans un fichier à part lors de l'envoi du flux." class="control outlined control-checkbox">
          Envoyer les bulletins sans e-mail 
          <i class="mdi mdi-information-outline"></i>
          {{#SendFormsThatDoesNotContainEmail}}
          <input type="checkbox" checked disabled/>
          {{/SendFormsThatDoesNotContainEmail}}

          {{^SendFormsThatDoesNotContainEmail}}
          <input type="checkbox" disabled/>
          {{/SendFormsThatDoesNotContainEmail}}
          <div class="control-indicator"></div>
        </label>

        <label title="Inclure les bulletins sans e-mail lors de l'envoi du flux." class="control outlined control-checkbox">
          Inclure les bulletins sans e-mail
          <i class="mdi mdi-information-outline"></i>
          {{#IncludeFormsThatDoesNotContainEmail}}
          <input type="checkbox" checked disabled/>
          {{/IncludeFormsThatDoesNotContainEmail}}

          {{^IncludeFormsThatDoesNotContainEmail}}
          <input type="checkbox" disabled/>
          {{/IncludeFormsThatDoesNotContainEmail}}
          <div class="control-indicator"></div>
        </label>

        <label title="Envoyer un fichier de livraison par mission." class="control outlined control-checkbox">Grouper les fichiers PDF par mission
          <i class="mdi mdi-information-outline"></i>
          {{#GroupFormsByMission}}
          <input type="checkbox" checked disabled/>
          {{/GroupFormsByMission}}

          {{^GroupFormsByMission}}
          <input type="checkbox" disabled/>
          {{/GroupFormsByMission}}
          <div class="control-indicator"></div>
        </label>
      </div>
      <br>
      <div class="card card-body">
        <div class="form-group">
        <label class="control outlined control-checkbox">
          Flux principale ?
          {{#IsMaster}}
          <input type="checkbox" checked disabled/>
          {{/IsMaster}}

          {{^IsMaster}}
          <input type="checkbox" disabled/>
          {{/IsMaster}}
          <div class="control-indicator"></div>
        </label>
        <label class="control outlined control-checkbox">
          Dernier état

          {{#LastStatus}}
          <input type="text" value="Actif" disabled/>
          {{/LastStatus}}

          {{^LastStatus}}
          <input type="text" value="Non actif" disabled/>
          {{/LastStatus}}
        </label>
        <label>
          Date du dernier envoi du flux : JJ/MM/YY
        </label>
        <br>
          <label>Dernier message envoyé du flux</label>
          <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        </div>
      </div>
    </div>
  </div>
  {{/.}}

</script>