<script id="tpl-flux-histo" type="text/html">
    <table id="data-table" class="table hover nowrap" style="width:100%">
        <thead>
          <tr>
            <th>Date de dépot</th>
            <th>Code mission</th>
            <th>Nom du fichiers</th>
            <th>Nombre de PA</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>2020/06/12</td>
            <td>Missioncodemission</td>
            <td>nomdufichier.xls</td>
            <td>500</td>
          </tr>
        </tbody>
    </table>    
</script>