<script id="tpl-flux-pri" type="text/html">
  {{#.}}
  <h3 style="padding: 10px;">
    Flux : {{Id}}
  </h3> 
  
  <div class="row">
    <div class="col">
      <div class="card card-body">
        <div class="form-group">
        <label for="exampleFormControlInput1">Modèle de fichier de livraison</label>
        <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        <span class="mt-2 d-block">Modèle du nom du fichier de livraison.</span>
        <br>
        
        <label for="exampleFormControlInput1">Nom du fichier PDF livré à l'association</label>
        <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        <span class="mt-2 d-block">Modèle de nom du fichier PDF remis à l'association.</span>
        <br>

        <label for="exampleFormControlInput1">Type de fichier de livraison</label>
        <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        <span class="mt-2 d-block">Type de fichier 
          TXT, TXT_WITHOUT_BOM, XLS, CSV, CSV_WITHOUT_LAST_EMPTY_LINE, CSV_WITH_TAB, CSV_WITHOUT_BOM, CSV_WITH_TAB_WITHOUT_BOM_LF_ONLY...</span>
          <br>

        <label for="exampleFormControlInput1">Encodage du fichier de livraison</label>
        <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        <span class="mt-2 d-block">Encodage du fichier </span>
        <br>

        <label for="exampleFormControlInput1">Répertoire de stockage des PDF</label>
        <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        <span class="mt-2 d-block">Répertoire de dépôt des PDF sur le serveur SFTP. </span>
        <br>

        <label for="exampleFormControlInput1">Répertoire de stockage du fichier de livraison</label>
        <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        <span class="mt-2 d-block">Répertoire de dépôt des fichiers de livraisons. </span>
        <br>

        <label for="exampleFormControlInput1">Encodage du fichier de livraison</label>
        <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        <span class="mt-2 d-block">Encodage du fichier </span>
        <br>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-body">
        <label title="Envoyer les bulletins sans e-mail dans un fichier à part lors de l'envoi du flux." class="control outlined control-checkbox">
          Envoyer les bulletins sans e-mail 
          <i class="mdi mdi-information-outline"></i>
          <input type="checkbox" checked />
          <div class="control-indicator"></div>
        </label>

        <label title="Inclure les bulletins sans e-mail lors de l'envoi du flux." class="control outlined control-checkbox">
          Inclure les bulletins sans e-mail
          <i class="mdi mdi-information-outline"></i>
          <input type="checkbox" />
          <div class="control-indicator"></div>
        </label>

        <label title="Envoyer un fichier de livraison par mission." class="control outlined control-checkbox">Grouper les fichiers PDF par mission
          <i class="mdi mdi-information-outline"></i>
          <input type="checkbox" />
          <div class="control-indicator"></div>
        </label>
      </div>
      <br>
      <div class="card card-body">
        <div class="form-group">
        <label class="control outlined control-checkbox">
          Flux principale ?
          <input type="checkbox" checked disabled/>
          <div class="control-indicator"></div>
        </label>
        <label for="exampleFormControlInput1">
          Date du dernier envoi du flux : JJ/MM/YY
        </label>
        <label for="exampleFormControlInput1">
          Date état du flux : Actif / non actif
        </label>
        <br>
          <label for="exampleFormControlInput1">Dernier message envoyé du flux</label>
          <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
        </div>
      </div>
    </div>
  </div>
  {{/.}}
</script>