<script id="tpl-ftp-serv" type="text/html">
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
        <h2>Serveur FTP "4400-4400-5500-6600-8800-8000"</h2>
        </div>
        <div class="card card-body">
        <div class="form-group">
            <label for="exampleFormControlInput1">Adresse du serveur</label>
            <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
            <span class="mt-2 d-block">Adresse du serveur FTP / SFTP.</span>
            <br>
            
            <label for="exampleFormControlInput1">Identifiant</label>
            <input type="text" class="form-control" value="(DATA DATA DATA)" disabled>
            <span class="mt-2 d-block">Modèle de nom du fichier PDF remis à l'association.</span>
            <br>
            
            <label class="control outlined control-checkbox">
            Dépôt des PDF
            <input type="checkbox" checked disabled/>
            <div class="control-indicator"></div>
            </label>

            <label title="Chaque semaine, un fichier de mise à jour des bulletins est déposé suite aux appels téléphoniques de satisfaction" class="control outlined control-checkbox">
            Dépôt des mises à jour
            <i class="mdi mdi-information-outline"></i>
            <input type="checkbox" checked disabled/>
            <div class="control-indicator"></div>
            </label>

            <label title="Un fichier d'initiation des transactions SEPA Direct Debit est créé pour aider l'association dans sa remise en banque." class="control outlined control-checkbox">
            Dépôt des fichiers SEPA
            <i class="mdi mdi-information-outline"></i>
            <input type="checkbox" checked disabled/>
            <div class="control-indicator"></div>

        </div>
        </div>
    </div>
</script>