<script id="tpl-ftp-serv" type="text/html">
    {{#.}}
    {{#DropServers}}
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
        <h2>Serveur FTP "{{Id}}"</h2>
        </div>
        <div class="card card-body">
        <div class="form-group">
            <label for="exampleFormControlInput1">Adresse du serveur</label>
            <input type="text" class="form-control" value="{{Address}}" disabled>
            <span class="mt-2 d-block">Adresse du serveur FTP / SFTP.</span>
            <br>
            
            <label for="exampleFormControlInput1">Identifiant</label>
            <input type="text" class="form-control" value="{{Login}}" disabled>
            <span class="mt-2 d-block">Modèle de nom du fichier PDF remis à l'association.</span>
            <br>
            
            <label class="control outlined control-checkbox">
            Dépôt des PDF
            {{#SendPdf}}
            <input type="checkbox" checked disabled/>
            {{/SendPdf}}

            {{^SendPdf}}
            <input type="checkbox" disabled/>
            {{/SendPdf}}
            <div class="control-indicator"></div>
            </label>

            <label title="Chaque semaine, un fichier de mise à jour des bulletins est déposé suite aux appels téléphoniques de satisfaction" class="control outlined control-checkbox">
            Dépôt des mises à jour
            <i class="mdi mdi-information-outline"></i>
            {{#SendFormsUpdates}}
            <input type="checkbox" checked disabled/>
            {{/SendFormsUpdates}}

            {{^SendFormsUpdates}}
            <input type="checkbox" disabled/>
            {{/SendFormsUpdates}}
            <div class="control-indicator"></div>
            </label>

            <label title="Un fichier d'initiation des transactions SEPA Direct Debit est créé pour aider l'association dans sa remise en banque." class="control outlined control-checkbox">
            Dépôt des fichiers SEPA
            <i class="mdi mdi-information-outline"></i>
            {{#SendSepaFile}}
            <input type="checkbox" checked disabled/>
            {{/SendSepaFile}}

            {{^SendSepaFile}}
            <input type="checkbox" disabled/>
            {{/SendSepaFile}}
            <div class="control-indicator"></div>

        </div>
        </div>
    </div>
    {{/DropServers}}

    {{/.}}
</script>