<script id="tpl-mails-sum" type="text/html">
    <div class="col-md-6 col-lg-6 col-xl-3">
      <div class="media widget-media p-4 bg-white border">
        <div class="icon rounded-circle mr-4 bg-info">
          <i class="mdi mdi-email-open-outline text-white "></i>
        </div>
        <div class="media-body align-self-center">
          <h4 class="text-primary mb-2">{{Data[0].MessageOpenedCount}}</h4>
          <p>Mails ouverts</p>
        </div>
      </div>
    </div>

      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="media widget-media p-4 bg-white border">
          <div class="icon rounded-circle mr-4 bg-primary">
            <i class="mdi mdi-email-check-outline text-white "></i>
          </div>
          <div class="media-body align-self-center">
            <h4 class="text-primary mb-2">{{Count}}</h4>
            <p>Mails cliqués</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="media widget-media p-4 bg-white border">
          <div class="icon rounded-circle mr-4 bg-warning">
            <i class="mdi mdi-email-search-outline text-white "></i>
          </div>
          <div class="media-body align-self-center">
            <h4 class="text-primary mb-2">{{Data[0].MessageHardBouncedCount + Data[0].MessageSoftBouncedCount}}</h4>
            <p>Mails d'erreurs</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="media widget-media p-4 bg-white border">
          <div class="icon rounded-circle mr-4 bg-danger">
            <i class="mdi mdi-email-alert text-white "></i>
          </div>
          <div class="media-body align-self-center">
            <h4 class="text-primary mb-2">5300</h4>
            <p>Mails spam</p>
          </div>
        </div>
      </div>
  </div>
</script>

