<script id="tpl-members-table" type="text/html">
    <table id="hoverable-data-table" class="table hover nowrap" style="width:100%">
        <thead>
        <tr>
        <th>Nom</th>
        <th>Civilité</th>
        <th>Fonction</th>
        <th>Fixe</th>
        <th>Portable</th>
        <th>Mail</th>
        <th>Tdb</th>
        <th>Fact</th>
        <th>P.R.</th>
        <th>Log</th>
        <th>Maj</th>
        </tr>
        </thead>
        {{ #. }}
        <tbody>
        <tr>
        <td>{{Name}}</td>
        <td>{{Civility}}</td>
        <td>{{Fonction}}</td>
        <td>{{Phone}}</td>
        <td>{{Mobile}}</th>
        <td>{{Mail}}</td>
        <td>{{Tdb}}</td>
        <th>{{Fact}}</td>
        <td>{{P.R}}</td>
        <td>{{Log}}</td>
        <td>{{MàJ}}</td>
        </tr>
        </tbody>
        {{ /. }}
    </table>
</script>