<script id="tpl-members-table" type="text/html">
    <form id="test" on-submit="ModifyAcess(this)">
    <table id="hoverable-data-table" class="table hover nowrap" style="width:100%">
        
        <thead>
        <tr>
        <th>accès autorisé ?</th>
        <th>Nom</th>
        <th>Civilité</th>
        <th>Fonction</th>
        <th>Fixe</th>
        <th>Portable</th>
        <th>Mail</th>
        <th>Tdb</th>
        <th>Facts</th>
        <th>P.R.</th>
        <th>Log</th>
        <th>Maj</th>
        </tr>
        </thead>
        {{ #. }}
        <tbody>
        <tr>
        {{#Activate}}
        <td>
            <label class="control control-checkbox">
            <input type="checkbox" checked />
            <div class="control-indicator"></div>
            </label>
        </td>
        {{/Activate}}
        {{^Activate}}
        <td>
            <label class="control control-checkbox">
            <input type="checkbox"/>
            <div class="control-indicator"></div>
            </label>
        </td>
        {{/Activate}}
        
        <td>{{Name}}</td>
        <td>{{Civility}}</td>
        <td>{{Fonction}}</td>
        <td>{{Phone}}</td>
        <td>{{Mobile}}</td>
        <td>{{Mail}}</td>
        {{#Tdb}}
        <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
        {{/Tdb}}
        {{^Tdb}}
        <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
        {{/Tdb}}
        {{#Fact}}
        <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
        {{/Fact}}
        {{^Fact}}
        <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
        {{/Fact}}
        {{#PR}}
        <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
        {{/PR}}
        {{^PR}}
        <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
        {{/PR}}
        {{#Log}}
        <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
        {{/Log}}
        {{^Log}}
        <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
        {{/Log}}
        {{#MàJ}}
        <td><i class="mdi mdi-checkbox-marked-outline"></i></td>
        {{/MàJ}}
        {{^MàJ}}
        <td><i class="mdi mdi-checkbox-blank-outline"></i></td>
        {{/MàJ}}
        </tr>
        </tbody>
        {{ /. }}
    </table>
</form>

</script>