<script id="pagination-comp" type="text/html">
    <nav id="nav-page">
        <ul class="pagination">
            <li class="page-item">
              <a class="page-link" onClick="getWCPage({{previousPage}})" href="#{{previousPage}}" tabindex="-1">Previous</a>
            </li>

                <li class="page-item">
                <form action="javascript:void(0);" onsubmit="getWCPage(this.pagenumber.value)" id="form">
                  <div class="form-group">
                    <input type="number" lass="form-control" id="pagenumber" value="{{PageNumber}}" 
                    min="0" max="{{TotalPages}}" class="page-link" style="max-width: 80px;">
                  </div>
                </form>
                </li>
                <li class="page-item disabled"><a class="page-link">/ {{TotalPages}}</a></li>
            <li class="page-item"><a class="page-link" onClick="getWCPage({{nextPage}})" href="#{{nextPage}}">Next</a></li>
        </ul>
    </nav>

</script>

