<script id="tpl-sidebar-header" type="text/html">
    <table>
        <tr>
            <td>
                <a href="welcome-call.html" title="ONG Conseil Dashboard" >
                    <img src="{{img_src}}" class="brand-icon" width="56px;" id="logo" />    
                </a>
            </td>
            <td>
                <form class="brand-flex">
                    <select class="brand-association" onchange='changeActualAssociation.call(this,event)'>
                        <option value="{{actualId}}">{{actualId}}</option>
                        {{#associations}}
                        <option value="{{id}}">{{id}}</option>
                        {{/associations}}  
                    </select>
                </form>
            </td>
        </tr>
    </table>
</script>