<script id="tpl-sidebar-header" type="text/html">
    <a href="welcome-call.html" title="ONG Conseil Dashboard" >
        <img src="{{img_src}}" class="brand-icon" width="56px;" id="logo" />    
    </a>
    <form class="brand-flex">
        <select class="brand-association" onchange='changeAssociationPage.call(this,event)'>
            <option value="">{{actualName}}</option>
            {{#associations}}
            <option value="{{id}}">{{name}}</option>
            {{/associations}}  
        </select>
    </form>
</script>