<script id="tpl-wc-search" type="text/html">

  <form action="javascript:void(0);" onsubmit="getWCPage(1,this)" id="search-form">
    <div class="form-row" style="margin-bottom:-10px;">
      <div class="col">
        <label id="area-label" for="area-select">Comité</label>
        <select name="area" class="form-control form-control-sm" id="area-select">
          <option value="" seleted>--Aucun comité--</option>
          {{#.}}
          <option value="{{Id}}">{{DisplayName}}</option>
          {{/.}}
        </select>
      </div>
      <fieldset>      
        <legend style="font-size:100%">Date de création du bulletin (début/fin)</legend>
        <div class="form-row">                        
          <div class="col">
            <input type="date" class="form-control form-control-sm" name="from" id="from" value="">
          </div>
          <div class="col">
            <input type="date" class="form-control form-control-sm" name="to" id="to" value="">
          </div>
        </div>
      </fieldset>      
      <div class="col">
        <label for="search" >Recherche</label>
        <input type="text" name="search" id="search" class="form-control form-control-sm" style="min-width: 210px" value="" placeholder="ID, RUM, mail, nom, code mission...">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-lg btn-primary btn-block mb-4 btn-sm" style="margin-top: 30px;">Filtrer</button>
      </div>
      <div class="col">
        <a class="btn btn-lg btn-primary btn-block mb-4 btn-sm" style="color:white;margin-top: 30px;" onclick="deleteSeachHistory()" style="margin-top: 30px;">
          Effacer
        </a>
      </div> 
    </div>
  </form>

  <div class="btn-group" role="group" aria-label="type de bulletins">
    <button type="button" id="rnr" onclick="getWCPage(document.getElementById('pagenumber').value,id)" class="btn btn-sm btn-primary">Tous</button>
    <button type="button" id="nr" onclick="getWCPage(document.getElementById('pagenumber').value,id)" class="btn btn-sm btn-outline-primary">non-Joint</button>
    <button type="button" id="r" onclick="getWCPage(document.getElementById('pagenumber').value,id)" class="btn btn-sm btn-outline-primary">Joint</button>
  </div>
</script>