<script id="tpl-wc-search" type="text/html">

<form action="javascript:void(0);" onsubmit="getWCPage(document.getElementById('pagenumber').value,this)" id="search-form">
    <div class="form-row">
      <div class="col">
        <label id="area-label" for="area-select">Comité</label>
        <select name="area" class="form-control form-control-sm" id="area-select">
          <option value="" seleted>--Aucun comité--</option>
          {{#.}}
          <option value="{{Id}}">{{DisplayName}}</option>
          {{/.}}
        </select>
      </div>
      <div class="col">
        <label for="from">Début</label>
        <input type="date" class="form-control form-control-sm" name="from" id="from" value="">
      </div>
      <div class="col">                          
        <label for="to">Fin</label>
        <input type="date" class="form-control form-control-sm" name="to" id="to" value="">
      </div>
      <div class="col">
        <label for="search" >Recherche</label>
        <input type="text" name="search" id="search" class="form-control form-control-sm" style="min-width: 210px" value="" placeholder="ID, RUM, mail, nom, code mission...">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-lg btn-primary btn-block mb-4 btn-sm" style="margin-top: 30px;">Filtrer</button>
      </div>
    </div>
</form>
<div style="margin:5px">
  <button class="btn btn-lg btn-primary btn-block mb-4 btn-sm" onclick="deleteSeachHistory()" style="margin-top: 30px;">Effacer</button>
</div>


</script>