<script id="tpl-wc-table" type="text/html">
    <table id="basic-wc-table" class="table nowrap" style="width:100%">
        <thead>
            <tr>
                <th>RUM</th>
                <th>Code mission</th>
                <th>Email initial</th>
                <th>Prénom initial</th>
                <th>Nom initial</th>
                <th>Date du bulletin</th>
                <th>Date de contact</th>
                <th>Etats & actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {{ #. }}
            <tr>        
                <td>{{UMR}}</td>
                <td>{{ExternalMissionId}}</td>
                <td>{{OriginalEmail}}</td>
                <td>{{OriginalFirstName}}</td>
                <td>{{OriginalLastName}}</td>
                <td>{{CompletionDate}}</td>
                <td>{{LastContact}}</td>
                <td>
                    {{#ReachedOnce}}<span class="mdi mdi-phone" style="color:green"></span>{{/ReachedOnce}}
                    {{^ReachedOnce}}<span class="mdi mdi-phone" style="color:gray"></span>{{/ReachedOnce}}
                    <span class="mdi mdi-bank" style="color:gray"></span>
                    <span class="mdi mdi-account-card-details" style="color:green"></span>
                    <a href="javascript:void(0);" onclick="copyId('{{Id}}')" title="copie l'ID dans un presse-papier">
                        <span class="mdi mdi-content-copy"></span>
                    </a>
                </td>
            </tr>
        {{ /. }}
        {{ ^. }}
            <td>Aucune donnée n'a été trouvée.</td>
        {{ /. }}
    </tbody>
    </table>
</script>