<script id="tpl-wc-table" type="text/html">
    <table id="basic-wc-table" class="table nowrap" style="width:100%">
        <thead>
            <tr>
                <th>RUM</th>
                <th>Code mission</th>
                <th>Email initial</th>
                <th>Prénom initial</th>
                <th>Nom initial</th>
                <th>Date du bulletin</th>
                <th>Date de contact</th>
                <th>Etats & actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {{ #. }}
            <tr>        
                <td class="align-middle">{{UMR}}</td>
                <td class="align-middle">{{ExternalMissionId}}</td>
                <td class="align-middle">{{OriginalEmail}}</td>
                <td class="align-middle">{{OriginalFirstName}}</td>
                <td class="align-middle">{{OriginalLastName}}</td>
                <td class="align-middle">{{CompletionDate}}</td>
                <td class="align-middle">{{LastContact}}</td>
                <td class="align-middle">
                    <a href="javascript:void(0);" onclick="copyId('{{Id}}')" title="copie l'ID dans un presse-papier">
                        <span class="mdi mdi-content-copy"></span>
                    </a>
                    {{#ReachedOnce}}<span class="mdi mdi-18px mdi-phone" style="color: #b6ee00"  title="bulletin join"></span>{{/ReachedOnce}}
                    {{^ReachedOnce}}<span class="mdi mdi-18px mdi-phone" style="color:rgb(49, 49, 49)"  title="bulletin non-joint"></span>{{/ReachedOnce}}
                    {{#UpdatedCategories}}<span class="mdi mdi-18px {{.}}" style="color:#b6ee00"></span>{{/#UpdatedCategories}}
                </td>
            </tr>
        {{ /. }}
        {{ ^. }}
            <td>Aucune donnée n'a été trouvée.</td>
        {{ /. }}
    </tbody>
    </table>
</script>