<script id="tpl-wc-table" type="text/html">
    <table id="basic-wc-table" class="table nowrap" style="width:100%">
        <thead>
            <tr>
                <th>RUM</th>
                <th>Code mission</th>
                <th>Email initial</th>
                <th>Prénom initial</th>
                <th>Nom initial</th>
                <th>Date du bulletin</th>
                <th>Date de contact</th>
                <th>Etats & actions</th>
            </tr>
        </thead>
        <tbody id="myTable">
        {{ #. }}
            <tr>        
                <td class="align-middle">{{UMR}}</td>
                <td class="align-middle">{{ExternalMissionId}}</td>
                <td class="align-middle">{{OriginalEmail}}</td>
                <td class="align-middle">{{OriginalFirstName}}</td>
                <td class="align-middle">{{OriginalLastName}}</td>
                <td class="align-middle">{{CompletionDate}}</td>
                <td class="align-middle">{{LastContact}}</td>
                <td class="align-middle">
                    {{#Closed}}
                        <span class="mdi mdi-18px mdi-checkbox-marked-outline" style="color: #b6ee00" title="Appel traité et cloturé"></span>
                    {{/Closed}}
                    {{^Closed}}
                        <span class="mdi mdi-18px mdi-checkbox-blank-outline" style="color: rgb(49, 49, 49)" title="Appel non traité ou en cours"></span>
                    {{/Closed}}

                    {{#ReachedOnce}}<span class="mdi mdi-18px mdi-phone" style="color: #b6ee00"
                        title="Donateur joint"></span>
                    {{/ReachedOnce}}
                    {{^ReachedOnce}}
                    {{#Calls.notResponding}}<span class="mdi mdi-18px mdi-mdi-phone-missed" style="color:rgb(49, 49, 49)"
                        title="Donateur injoignable"></span>{{/Calls.notResponding}}
                    {{#Calls.VoiceMail}}<span class="mdi mdi-18px mdi-voicemail" style="color:rgb(207, 19, 19)"
                        title="Répondeur"></span>{{/Calls.VoiceMail}}
                    {{#Calls.wrongNumber}}<span class="mdi mdi-18px mdi-dialpad" style="color:rgb(207, 19, 19)" 
                        title="Mauvais numéro"></span>{{/Calls.wrongNumber}}
                    {{^mobilePhone}}<span class="mdi mdi-18px mdi-phone-off-outline" style="color:rgb(207, 19, 19)" 
                        title="Pas de numéro"></span>{{/mobilePhone}}
                    {{/ReachedOnce}}

                    {{#UpdatedCategories}}<span class="mdi mdi-18px {{.}}" style="color:#b6ee00"></span>{{/UpdatedCategories}}
                </td>
            </tr>
        {{ /. }}
        {{ ^. }}
            <td>Aucune donnée n'a été trouvée.</td>
        {{ /. }}
    </tbody>
    </table>
</script>

<!-- <a href="javascript:void(0);" onclick="copyId('{{Id}}')" title="copie l'ID dans un presse-papier">
    <span class="mdi mdi-content-copy"></span>
</a> -->